@import '../../../styles/variables.scss';

.error-check-email-wrapper {
  width: 539px;
  height: 550.27px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 32px 56px;

  border-radius: 2px;
  background: $color-neutral-1;
  box-sizing: border-box;

  .container {
    width: 475px;
    height: 430.27px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    box-sizing: border-box;

    .image-wrapper {
      width: 253.49px;
      height: 293.27px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    .text-wrapper {
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      text-align: center;

      h3 {
        color: $color-neutral-10;
        font-size: 24px;
        font-weight: 500;
        margin: 0;
        line-height: 130%;
      }

      p {
        color: $color-neutral-7;
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        line-height: 130%;
      }
    }

    button {
      width: 74px;
      height: 40px;
      padding: 4px 15px;

      box-sizing: border-box;
      border: 1px solid $color-primary-light-6;
      border-radius: 2px;
      box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
      background: $color-primary-light-6;

      color: $color-neutral-1;
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 130%;
      text-align: center;
    }
  }
}

@media (max-width: 567px) {
  .error-check-email-wrapper {
    width: 328px;
    height: 568.27px;
    padding: 64px 32px 56px;

    .container {
      width: 264px;
      height: 448.27px;
    }
  }
}