$main-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

$font-size-s: 14px;
$font-size-m: 16px;

$line-height-s: 130%;

$font-weight-s: 400;
$font-weight-m: 700;

$gap-s: 16px;
$gap-m: 24px;
$gap-l: 32px;

$height-s: 40px;
$height-m: 70px;
$height-l: 80px;

$width-all: 100%;

$padding-m: 16px;
$padding-ml: 24px;
$padding-l: 32px;
$padding-x: 56px;
$padding-xl: 64px;