$color-primary-light-1: #f0f5ff;
$color-primary-light-6: #2F54EB;

$color-character-light-1: #262626;
$color-character-light-2: #8C8C8C;
$color-character-light-7: #8C8C8C;

$color-secondary-0: #FFFFFF;
$color-secondary-1: #FAFAFA;