$color-primary-light-1: #f0f5ff;
$color-primary-light-2: #D6E4FF;
$color-primary-light-3: #ADC6FF;
$color-primary-light-4: #85A5FF;
$color-primary-light-5: #597EF7;
$color-primary-light-6: #2F54EB;
$color-primary-light-7: #1D39C4;
$color-primary-light-8: #10239E;
$color-primary-light-9: #061178;
$color-primary-light-10: #030852;

$color-primary-dark-1: #131629;
$color-primary-dark-2: #161D40;
$color-primary-dark-3: #1C2755;
$color-primary-dark-4: #203175;
$color-primary-dark-5: #263EA0;
$color-primary-dark-6: #2B4ACB;
$color-primary-dark-7: #5273E0;
$color-primary-dark-8: #7F9EF3;
$color-primary-dark-9: #A8C1F8;
$color-primary-dark-10: #D2E0FA;

$color-neutral-1: #FFF;
$color-neutral-2: #FAFAFA;
$color-neutral-3: #F5F5F5;
$color-neutral-4: #F0F0F0;
$color-neutral-5: #D9D9D9;
$color-neutral-6: #BFBFBF;
$color-neutral-7: #8C8C8C;
$color-neutral-8: #595959;
$color-neutral-9: #434343;
$color-neutral-10: #262626;
$color-neutral-11: #1F1F1F;
$color-neutral-12: #141414;
$color-neutral-13: #000;

$color-secondary-light-1: #E6F7FF;
$color-secondary-light-2: #BAE7FF;
$color-secondary-light-3: #91D5FF;
$color-secondary-light-4: #69C0FF;
$color-secondary-light-5: #40A9FF;
$color-secondary-light-6: #1890FF;
$color-secondary-light-7: #096DD9;
$color-secondary-light-8: #0050B3;
$color-secondary-light-9: #003A8C;
$color-secondary-light-10: #002766;

$color-secondary-dark-1: #111D2C;
$color-secondary-dark-2: #112A45;
$color-secondary-dark-3: #15395B;
$color-secondary-dark-4: #164C7E;
$color-secondary-dark-5: #1765AD;
$color-secondary-dark-6: #177DDC;
$color-secondary-dark-7: #3C9AE8;
$color-secondary-dark-8: #65B7F3;
$color-secondary-dark-9: #8DCFF8;
$color-secondary-dark-10: #B7E3FA;