$color-primary-light-1: #f0f5ff;
$color-primary-light-6: #2F54EB;
$color-primary-light-9: #061178;

$color-character-light-1: #262626;
$color-character-light-2: #8C8C8C;
$color-character-light-7: #8C8C8C;

$color-secondary-0: #FFF;
$color-secondary-1: #FAFAFA;
$color-secondary-5: #D9D9D9;
$color-secondary-13: #000;